
.huesoLogo {
    width: 65px;
    padding-top: 50px;
    padding-left: 10px;

}

body { 
    background: url('http://www.bellasfondos.eu/pics/2014/0715/1/orig_10367.jpg') fixed;
    background-image: url="{% static 'img/login_registrar/perro.jpg' %}";
    
} 


.grid-block{
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-image: url(''); width: 100%; height: 100vh;
}

blurr{
    filter: blur(5px);
    display: block;
    object-fit: cover;
    width: 50%;
    height: 400px;
    object-position: center;
  }

.container{
height: 100%;
align-content: center;
}

.card{
height: 420px;
margin-top: auto;
margin-bottom: auto;
width: 650px;
background-color: rgba(0,0,0,0.5) !important;
margin-right: 320px;
}

.card_login{
    height: 300px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
    margin-right: 320px;
    margin-top: 100px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.img_login{
position: fixed;
}

.perro{
    height: 400px;
    width: 800px;
}

body {
    color: white;
}

.social_icon span{
font-size: 60px;
margin-left: 5px;
color: rgb(69, 216, 162);
}

.social_icon span:hover{
color: rgb(96, 255, 197);
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 5px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: rgb(69, 216, 162);
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: rgb(69, 216, 162)
;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: rgb(96, 255, 197);
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}